[isort]
default_section = THIRDPARTY
known_first_party = foodgram  # change it for the name of your django project
known_django = django
sections = FUTURE,STDLIB,DJANGO,THIRDPARTY,FIRSTPARTY,LOCALFOLDER
multi_line_output=3
src_paths=foodgram